{% extends "../default.html" %} {% block content %}

<article>
    <div class="blogs left-box">
        <div class="blogs-box whitebg">
            <div class="news-title">
                <h2>
                    {% if pageType == 'search' %}
                    搜索：{{targetSearchKey}}
                    {% elif pageType == 'tag' %}
                    标签：{{targetTagName}}
                    {% else %}
                    {{cateInfo.name}}
                    {% endif %}
                </h2>
            </div>
            {% include "../public/itemListTemp.html" %}

        </div>
    </div>
    <aside class="side-section right-box">
        {% include "../public/reCommendList.html" %}
        <div class="blank clear"></div>
    </aside>
</article>
<div class="clear blank"></div>
{% endblock %}