{% extends "../default.html" %} {% block content %}{% import "../public/adsPannel.html" as adsPannel %}
{% assets "side-tab.js" %}
{% endassets %}
<article>
    <div class="left-box">
        <div class="whitebg">
            <div class="newstext-box">
                <h1 class="news-title-h1">{{post.title}}</h1>
                <div class="keywords">
                    {% for tag in post.tags %}
                    <a href="/tag/{{tag.name}}">{{tag.name}}</a>

                    {% endfor %}
                </div>
                <div class="picview-other"> <span class="po-from">{% if post.uAuthor %}
                        {{post.uAuthor.userName}} {% else %}
                        {{post.author.userName}} {% endif %}</span><span class="po-date">{{post.date}}</span>
                    {% set cateInfo = (post.categories[0]) %}
                    <span class="po-classname"><a href="{{cateInfo.url}}"
                            target="_blank">{{(post.categories[post.categories.length-1]).name}}</a></span><span
                        class="po-view">{{post.clickNum}}</span> </div>
                <div class="smalltext">
                    <i></i>{{post.discription}}
                </div>
                <div class="newstext">
                    {{post.comments | safe}}
                </div>
                <div class="clear"></div>
                <div class="info-pre-next">
                    {% near_post "id"=post._id %}
                    {% if near_post %}
                    <ul>
                        {% if near_post.preContent.title %}

                        <li><a href="{{near_post.preContent.url}}"><i><em>{{__('lc_pre_document')}}</em><img
                                        src="{{near_post.preContent.sImg}}"></i>
                                <h2>{{near_post.preContent.title}}</h2>
                                <p>{{near_post.preContent.discription}}</p>
                            </a></li>
                        {% endif %}
                        {% if near_post.nextContent.title %}

                        <li><a href="{{near_post.nextContent.url}}"><i><em>{{__('lc_next_document')}}</em><img
                                        src="{{near_post.nextContent.sImg}}"></i>
                                <h2>{{near_post.nextContent.title}}</h2>
                                <p>{{near_post.nextContent.discription}}</p>
                            </a></li>
                        {% endif %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="clear blank"></div>
    </div>
    <aside class="side-section right-box">
        {% include "../public/newItemList.html" %}
    </aside>
</article>
<script>
    function devIng(id) {
        // layer.msg('开发中，请稍后再玩...😈');
        getAjaxData('/api/user/askContentThumbsUp?contentId=' + id, (data) => {
            if (data.status == 200) {
                var newNum = Number($('#diggnum').text()) + 1;
                $('#diggnum').text(newNum);
                layer.msg(data.message, {
                    icon: 1,
                    time: 800
                });
            }
        })
    }
</script>
{% endblock %}