<footer>
    <div class="footer box">
        <div class="wxbox">
            <ul>
                <li><img src="{{staticThemePath}}/images/contact_qq.png"><span>扫码加QQ</span></li>
                <li><img src="{{staticThemePath}}/images/contact_wx.png"><span>扫码加微信</span></li>
            </ul>
        </div>
        <div class="endnav" style="margin-top: 20px;">
            <p class="text-center">任何个人或单位未经许可不得复制转载转刊</p>
            <p class="text-center">本网站涉及内容最终解释权归东莞市锦明机电工程有限公司所有 请勿建立镜像</p>
            <p class="text-center">Copyright © 2021 版权所有：东莞市锦明机电工程有限公司</p>
            <p class="text-center">粤ICP备*********号</p>
        </div>
    </div>
</footer>
<div class="toolbar-open"></div>
<div class="toolbar">
    <div class="toolbar-close"><span id="closed"></span></div>
    <div class="toolbar-nav">
        <ul id="toolbar-menu">
            <li><i class="side-icon-qq"></i>
                <section class="qq-section">
                    <div class="qqinfo">
                        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2687397900&site=qq&menu=yes">东莞锦明机电</a>
                    </div>
                </section>
            </li>
            <li><i class="side-icon-weixin"></i>
                <section class="weixin-section">
                    <div class="weixin-info">
                        <img src="{{staticThemePath}}/images/contact_wx.png">
                        <p class="text12">扫码加微信</p>
                    </div>
                </section>
            </li>
        </ul>
    </div>
</div>
{% include "../mb/footer.html" %}