{% hot key="hotItemListData","pageSize"=9 %}
{% if hotItemListData.length > 0 %}
<div class="whitebg paihang">
    <h2 class="side-title">点击排行</h2>

    <section class="topnews imgscale"><a href="{{hotItemListData[0].url}}"><img
                src="{{hotItemListData[0].sImg}}"><span>{{hotItemListData[0].title}}</span></a></section>

    <ul>
        {% for item in hotItemListData %}
        {% if loop.index0 > 0 %}
        <li><i></i><a href="{{item.url}}" title="{{item.title}}" target="_blank">{{item.title}}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
{% endif%}