{% extends "./default.html" %}{% block content %}{% import "./public/adsPannel.html" as adsPannel %}
<article>
  <!-- banner begin-->
  <div class="banner">
    {% ads name="recommend" %}
    {{adsPannel.slider(recommend)}}
  </div>
  <!-- banner end-->
  <!-- headline-boc begin-->
  <div class="headline-box whitebg">
    <div class="headline-news">
      {% recommend key="reCommendListTop",pageSize=7 %}
      {% if reCommendListTop.length > 0 %}
      <h2 class="headline-news-title"><span>头条</span>
        <a href="{{reCommendListTop[0].url}}">{{reCommendListTop[0].title}}</a>
      </h2>
      <p class="headline-news-smalltext">{{reCommendListTop[0].discription}}</p>

      <ul class="headline-news-list">
        {% for item in reCommendListTop%}
        {% if loop.index0 > 0 %}
        <li><a href="{{item.url}}" title="{{item.title}}">{{item.title}}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
  <!-- headline-box end-->
  <div class="clear blank"></div>
  
  {% childnav key="tabTwoTitle","pageSize"=10,"typeId"="Ek7skiaw" %}
  {% for cateItem in tabTwoTitle.cates %}
  {% if cateItem.parentId != '0' %}
  <div class="pics box whitebg tab-num02">
    <div class="gd-box">
      <ul id="tab">
        <li class="tab-current">{{cateItem.name}}</li>
      </ul>
    </div>
    <div id="tab-content">
      <section>
        {% news key="tabTwoContents","pageSize"=7,"typeId"=cateItem._id %}
        <div class="pic-list-img">
          <ul>
            {% for contentItem in tabTwoContents %}
            {% if loop.index0 == 0 %}
            <li><a href="{{contentItem.url}}"><i><img style="height:100%;"
                    src="{{contentItem.sImg}}"><em>推荐</em></i><span>{{contentItem.title}}</span></a></li>
            {% else %}
            <li><a href="{{contentItem.url}}"><i><img
                    src="{{contentItem.sImg}}"></i><span>{{contentItem.title}}</span></a></li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
        <span class="tab-a-more"><a href="{{cateItem.url}}" title="更多">更多</a></span>
      </section>
    </div>
  </div>
  <div class="clear blank"></div>
  {% endif %}
  {% endfor %}

  <div class="links whitebg box ">
    <div class="news-title">
      <h2>合作客户</h2>
    </div>
    {% ads name="partner" %}
    <div class="gap-img-ads">
      <ul>
          {% for item in partner.items %}
          <li class="col-xs-6 col-sm-4 col-md-2" style="margin: 10px 0;">
              <a href="{{item.link}}" target="_blank">
                  <img src="{{item.sImg}}" alt="{{item.title}}" style="height: 50px;">
              </a>
          </li>
          {% endfor %}
      </ul>
    </div>
  </div>
  <!-- links end-->
  <div class="blank clear"></div>
</article>
{% endblock %}